build --cxxopt='-std=c++20' --host_cxxopt='-std=c++20'
run --cxxopt='-std=c++20' --host_cxxopt='-std=c++20'

# To allow loops with int and comparison against a .size() that's size_t.
build --copt='-Wno-sign-compare' --host_copt='-Wno-sign-compare'
run --copt='-Wno-sign-compare' --host_copt='-Wno-sign-compare'
